html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    /* background-color: #003087; */
    /* lightblue, aqua, cornflowerblue, cyan, darkcyan*, deepskyblue*, lightseagreen, mediumturquoise, powderblue */
    background-color: royalblue;
    /* https://www.css-gradient.com/?c1=002e75&c2=49a1c6
    background: #181F91;
    background: -webkit-linear-gradient(bottom left, #181F91, #278793);
    background: -moz-linear-gradient(bottom left, #181F91, #278793);
    background: linear-gradient(to top right, #181F91, #278793);*/
}

#header {
    display: flex;
    position: absolute;
    top: 0%;
    bottom: 90%;
    width: 100%;
}
#logo {
    padding: auto;
}
#title {
    height: 100%;
    padding: 0;
    margin: auto;
}

#map {
    position: absolute;
    top: 10%;
    bottom: 4%;
    width: 100%;
    box-shadow: 0px 0px 30px rgba(255, 153, 0, 0.26);
}

#footer {
    position: absolute;
    top: 96%;
    bottom: 0%;
    width: 100%;
}
#footer p{
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0%;
    text-align: center;
}