html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #003087;
}

#header {
    display: flex;
    position: absolute;
    top: 0%;
    bottom: 90%;
    width: 100%;
}
#logo {
    padding: auto;
}
#title {
    height: 100%;
    padding: 0;
    margin: auto;
}

#map {
    position: absolute;
    top: 10%;
    bottom: 4%;
    width: 100%;
}

#footer {
    position: absolute;
    top: 96%;
    bottom: 0%;
    width: 100%;
}
#footer p{
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0%;
    text-align: center;
}